<div class="root">
    <header>
        <b>Header</b>
        <a [routerLink]="['/interceptor-example']" routerLinkActive="router-link-active">Interceptor Example</a>
    </header>


    <section class="hero">
        <h1>Version V1 is runnning ...</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est
            exemplis hoc facere longius.
        </p>
    </section>

    <main>

        <div class="flex-container wrapper">
            <section class="content">
                <router-outlet></router-outlet>
            </section>

            <aside>
                Sidebar
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus
                    est
                    exemplis hoc facere longius.
                </p>
            </aside>
        </div>


    </main>


    <footer>
        Footer
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est
            exemplis hoc facere longius.
        </p>
    </footer>

</div>