<div class="root">
    <header>
        Header
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est
            exemplis hoc facere longius.
        </p>
    </header>


    <section class="hero">
        <h1>Version V1 is runnning ...</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est
            exemplis hoc facere longius.
        </p>
    </section>

    <main>

        <div class="flex-container wrapper">
            <section class="content">
                <div>
                    <button (click)="requestXMLData()">request XML Data</button>
                    <pre>{{data2}}</pre>
                </div>
            </section>

            <aside>
                Sidebar
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus
                    est
                    exemplis hoc facere longius.
                </p>
            </aside>
        </div>


    </main>


    <footer>
        Footer
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est
            exemplis hoc facere longius.
        </p>
    </footer>

</div>